/* Reset básico */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.hamburger-menu {
    width: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    margin: 20px;
}

.line {
    height: 5px;
    background-color: #333;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-menu {
    display: none; /* Oculta o menu por padrão */
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #f4f4f4;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    padding: 15px 20px;
}

.nav-menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-menu.active {
    display: block; /* Exibe o menu quando ativo */
}

/* Transformações para o efeito hambúrguer */
.hamburger-menu.active .line:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

.hamburger-menu.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .line:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}
